@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300;400;500;700&family=Roboto&family=Signika&display=swap');
$font_primary:Montserrat;
$font-secondary:Lato;
$color_sombra: #404040;
$sombra_gruesa: 5px 5px 2px $color_sombra;
$sombra_fina: 3px 3px $color_sombra;
