<header class="header" id="header">
	<figure>
		<img src="./static/img/Foto.png" alt="" class="header__img" />
	</figure>
	<div class="header__text">
		<h1>Jose Vilches</h1>
		<img src="https://dummyimage.com/48x52.png?text=logo" alt="" />
		<h3>Frontend Developer</h3>
	</div>
</header>