<section class="quienSoy" id="about">
	<h2 class="section__titulo">¿Quien Soy?</h2>
	<p class="quienSoy__text">
		Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quidem
		magnam,unde dolor nisi atque aliquam quo commodi dicta ipsa neque est ab
		deleniti, aut sint repudiandae doloribus, laudantium voluptate itaque.
	</p>
	<div class="quienSoy__descargaCV">
		<a
			href="https://drive.google.com/file/d/1t_DuBxXuoOHI2fN-CntiVfYRSzhf7Now/view?usp=sharing"
			target="_blank"
		>
			<i class="fas fa-file-download"></i>Descarga mi CV
		</a>
	</div>
</section>