<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Front-End Developer Jose Vilches</title>
</head>
<body>
	{{> partials/header}}
	{{> partials/navbar}}
	{{> partials/whoIAm}}
	{{> partials/skills}}
	{{> partials/services}}
	{{> partials/proyects}}
	{{> partials/contact}}
	{{> partials/footer}}
</body>
</html>